/*------RESET'S--------*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
  display: block;
}
ul {
  list-style-type: none;
}
img {
  max-width: 100%;
  height: auto;
  display: block;
}
button {
  cursor: pointer;
}

body {
  min-height: 100vh;
  background-color: white;
  font-family: "Roboto", sans-serif;
  position: relative;
}

/*---RE-USED CLASS---*/
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
}
/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 920px;
  }
}

/*---START HEADER---*/
.header {
  background-color: black;
  min-height: 4em;
  display: grid;
  grid-template-columns: 150px 1fr 110px 100px;
  align-items: center;
  padding: 10px 20px;
  position: sticky;
  top: 0;
  z-index: 2;
}
@media (max-width: 702px) {
  .header {
    grid-template-columns: 100px 1fr 80px 80px;
  }
}
@media (max-width: 413px) {
  .header {
    grid-template-columns: 1fr 80px 80px;
  }
}
.header > img {
  width: 130px;
  height: auto;
}
.header a:first-child {
  margin-left: 25px;
}
@media (max-width: 702px) {
  .header a:first-child {
    margin-left: 0;
  }
  .header > img {
    width: 100px;
  }
}
@media (max-width: 413px) {
  .header a:first-child {
    display: none;
  }
}
.header a:nth-child(3) {
  color: whitesmoke;
}
.header a span {
  font-weight: bold;
}
.header a:last-child {
  color: whitesmoke;
  position: relative;
  display: flex;
  align-items: flex-end;
}
.header a:last-child img {
  width: 50px;
  height: auto;
}
.header a .cart-quantity {
  position: absolute;
  top: 0;
  left: 25px;
  font-weight: bold;
  color: gold;
}
.search_div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 10px;
}
.header input {
  width: 80%;
  height: 2.5em;
  outline: none;
  padding-left: 10px;
}
.header button {
  width: 50px;
  height: 2.5em;
  background-color: gold;
  border: none;
}
.header button i {
  font-size: 1.2rem;
}

/*---END HEADER---*/

.main {
  margin-top: 100px;
}

.orders-title {
  font-size: 1.8rem;
  font-weight: bold;
}
.order-container {
  display: grid;
  grid-template-rows: fit-content 1fr;
  border: 1px solid #d8d8d8;
  border-radius: 10px;
  margin-top: 20px;
  padding-bottom: 40px;
}
.order-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f0f2f2;
  padding: 20px 25px;
  border-bottom: 1px solid #d8d8d8;
}
@media (max-width: 650px) {
  .order-head {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
}
.order-head-left-section {
  display: flex;
  gap: 50px;
}
@media (max-width: 650px) {
  .order-head-left-section {
    flex-direction: column;
    gap: 5px;
    margin-bottom: 10px;
  }
}
.order-header-label {
  font-weight: bold;
}
.order-details {
  display: grid;
  grid-template-columns: 120px 1fr 200px;
  padding: 40px 25px 0;
  gap: 60px 35px;
}
@media (max-width: 650px) {
  .order-details {
    grid-template-columns: 120px 1fr;
    row-gap: 10px;
  }
}
@media (max-width: 410px) {
  .order-details {
    grid-template-columns: 1fr;
    margin: 0 auto;
  }
}
.product-details {
  line-height: 1.5;
}
.product-name {
  font-weight: bold;
}
@media (max-width: 410px) {
  .product-name {
    margin-top: 15px;
  }
}
.product-details img {
  width: 25px;
  height: 25px;
}
.product-details button {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 6px 20px;
  background-color: gold;
  border: none;
  border-radius: 9px;
  margin-top: 10px;
  transition: 0.2s;
}
.product-details button:hover {
  background-color: rgb(230, 195, 0);
}
@media (max-width: 410px) {
  .product-details button {
    margin: 10px auto 5px;
    width: 200px;
    justify-content: center;
  }
}

.product-actions button {
  width: 100%;
  padding: 10px;
  border: 1px solid grey;
  border-radius: 8px;
  background-color: white;
  box-shadow: 1px 2px 3px black;
  transition: 0.2s;
}
.product-actions button:hover {
  background-color: rgb(231, 231, 231);
}
@media (max-width: 650px) {
  .product-actions button {
    margin-left: 160px;
  }
}
@media (max-width: 410px) {
  .product-actions {
    margin: 0 auto;
  }
  .product-actions button {
    margin: 0 auto;
    width: 200px;
  }
}
